.hide {
    border: 0 !important;
    max-height: 0 !important;
    padding: 0 !important;
}

.hide::placeholder {
    font-size: 0;
}

.un-hide {
    width: 200px;
    
}

.user-btn {
    transition: all 0.4s;
}

.user-btn:hover {
    box-shadow: none !important;
    width: 70%;
}

.feed-row {
    transition: all 0.4s;
    margin-left: 0;
}

.feed-row:hover {
    width: 100%;
    margin-left: -36px;
}
